@import url(./reset.css);

.mobile__only {
    display: none;
}
html {
    font-size: 10px;
}

body {
    font-size: 1rem;
}

/* 미디어쿼리 */
@media screen and (max-width:640px) {
    .big__container {
        background-color: red;
    }
}

@media screen and (min-width:640px) and (max-width:960px) {
    .big__container {
        background-color: green;
    }
}

@media screen and (min-width:960px) {
    .big__container {
        background-color: blue;
    }
}
a:hover {
    text-decoration: underline;
}
.a11y-hidden, legend {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
}
/* 링크 스타일 */
a {
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

body {
    background-image: url(/image/store_bg.jpg);
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
/* 헤더 */

.header{
    position: fixed;
    width: 100%;
}
.header__wrap {
    width: 110rem;
    margin: 0 auto;
    padding: 15px 0 0 0;
}
/* 로고 */
.logo{
    float: left;
    /* position: absolute;
    top: 26px;
    left: 60px; */
}
/* 멤버링크 */

.member__link  {
    color: #555;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.member__link span {
    color: ghostwhite;
}

.member__link span{
    display: inline-block;
    padding: 0 10px;
}
.member__item input{
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 34px;
    vertical-align: top;
    margin: 0;

}
.member__item button {
    background: #fff url(/image/icon_magnifier_black.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    margin: 0;
}

/* .search-form {
    width: 34px;
    height: 34px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 0;
    height: 34px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 200ms;
    vertical-align: center;
}
.search-form:active {
    padding-left: 100px;
    width: 100px;
}

.search-form input{
    border: none;
} */

/* 메인메뉴 */

.main__menu {
    color: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.list__bg {
    margin-top: 10px;
    background-color: #2c2a29;
    position: absolute;
    width: 100%;
    left: 0;
    height: 200px;
    display: none;
}
.main__menu > li > a:hover {
    background-color:#2c2a29;
    /* color: cadetblue; */
}
.main__menu > li:hover .menu__sub{
    display: flex;
    width: 110rem;
    margin: 0 auto;
    color: #fff;
}
.main__menu > li:hover .list__bg{
    display: block;
}

.main__menu {
    margin: 30px 10px;
}
.main__menu >li > a{
    padding: 20px;
}


/* 바로가기 */
.direct{
    position: fixed;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid blue;
    text-align: center;
    color: #fff;
    padding: 5px;
    z-index: 20;
    top:-30px;
    transition: all 0.5s;
}
.direct:focus {
    top: 0;
}